@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

header{
    width: 100%;
    height: auto;
    background: rgba(255, 144, 14, 0.1);
    
    
   
}
.logo{
    margin-top: 30px;
}
nav{
    display: flex;
    justify-content: space-around;
    
    
}
nav ul{
    display: flex;
    margin-top: 30px;
}
nav ul li{
    list-style: none;
    padding-right: 70px;
}
nav ul li a{
    text-decoration: none;
}

/*top-info-container*/
.top-info-container{
    margin: 120px 200px 0px 300px;
    align-items: center;
}
.top-info-box{
    width: 862px;
    height: 225;
}
.top-title{
    font-size: 64px;
    text-align: center;
}
.top-des{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #727272;
}
.btn{
    margin-left: 370px;
    margin-top: 30px;
    padding: 17px 30px;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: #d6780c;
    cursor: pointer;
}
.banner{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner img{
    width: 900px;
    height: 400px;
}

/*Future Section*/
.future-container{
    
}
.future{
    padding: 50px 200px 50px 200px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.future-photo{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
.future-photo div img{
         width: 100%;
}
.future-title{
    font-size: 45px;
    font-weight: 500px;
}
.future-des{
    margin-top: 10px;
}
.future-btn{
    margin-top: 20px;
    padding: 12px 19px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    color: white;
}
/*Enjoy Section*/
.features-container{
    display: flex;
    justify-content: center;
    margin-left: 150px;
    gap: 50px;
}
.features-info > div{
    width: 586px;
    height: 150px;
}
.features-info{
     gap: 50px;
}
.info-h{
    margin-bottom: 100px;
}
.features-title{
    font-size: 45px;
    overflow: hidden;
    margin-bottom: 20px;
}
.info-des{
    
}
.features-im{
    width: 800px;
    height: 100px;
}
.features-im img{
    width: 90%;
}

/*Facts section*/
.facts-container{
     margin: 50px 200px 50px 200px;
}
.facts-info{
    align-items: center;
}
.facts-title{
   margin-bottom: 20px;
}
.box-container{

}
.box{
    
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
.box > div{
    justify-content: flex-start;
    border: 1px solid rgb(252, 165, 5);
    width: 241px;
    padding: 60px 2px;
    align-items: center;
    border-radius: 5px;
}
.box-num, .box-des {
    text-align: center;
}
.fa-solid{
    margin-left: 90px;
    margin-bottom: 10px;
    width: 56px;
    height: auto;
}
.box > div:hover{
    background-color: #FF900E;
    color: white;
}
.bu{
    position: relative;
    padding: 30px 7px;
    background-color: #FF900E;
    width: 220px;
    height: 60px;
    top: -80px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.bu-title{
    text-align: center;
    font-size: 34px;
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
}
.bu-des{
    text-align: center;
    font-size: 14px;
    color: white;
}

/*Sponsor site*/
.sponsore-container{
    margin: 90px 200px 50px 200px;
}
.Web-icon{
    margin-top: 40px;
    display: flex;
    gap: 60px;
}
.sponsore-title{
    text-align: center;
}
.sponsore-des{
    text-align: center;
    margin-top: 20px;
}
/*footer*/
footer{
    margin: 100px 200px 100px 200px;
    background-color: #ebdfd1;
    padding: 50px 100px;
}
.footer-info{
    text-align: center;
    color: rgb(112, 109, 109);
}